<html>
	<body>
		<input type="text"/>
		<button>${data.buttonText}</button>
	</body>
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script src="/socket.io-stream.js" type="text/javascript"></script>
	<script type="text/javascript">
	</script>
</html>