<layout-use("templates/base.marko")>
	<layout-put into="body">
		<input type="text"/>
		<button>${data.buttonText}</button>
	</layout-put>

	<layout-put into="scripts">
		<script type="text/javascript" src="/scripts/bundle.js"></script>
	</layout-put>
</layout-use>